head {
  overflow-x: hidden;
  width: 100%;
  height: 10vh;
  background-repeat: no-repeat;
  padding: none;
  top: 8vh;
  left: 0;}
@font-face {
    font-family: 'Didact Gothic';/*taken from here - https://github.com/ossobuffo/didact-gothic under the license here - http://scripts.sil.org/OFL */
    src: url(DidactGothic-Regular.otf);}
body {
  color: #f3f3f3;
  background-color: #333333;
  font-family: 'Didact Gothic';
  font-size: clamp(12px, 2.5vw, 30px);
  text-align: center;
  margin-top: 10%;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;}
h2 {font-size: 3rem; text-shadow: 2px  1px 2px red, 0 0 1em blue, 0 0 0.2em blue;}
h3 {font-size: 2rem}
@keyframes fadeInOpacity {
    0% {opacity: 0;}
    100% {opacity: 1;}}
summary::-webkit-details-marker {display: none}
details summary {cursor: pointer;}
input[type='checkbox'] {display: none;}
.WeaponIcon{max-height: 4vh;max-width: 4vh;} 
.wigglis {
    padding: 6vw 6vh;
    max-width: 30vw;
    max-height: 30vh;}
.collapsible-contentParagraphs {
    max-height: 0px;
    overflow: hidden;
    text-align: center;
    transition: 0.2s;
    color: #f3f3f3;}
.CollHeader {
    text-decoration: underline;
    text-align: center;
    width: 80vw;
    color: #f3f3f3;
    margin-left: 10vw;
    cursor: pointer;
    transition: 0.3s ease-in;}
.CollHeader::before {content: ' ';}
.toggle:checked+.CollHeader+.collapsible-contentParagraphs {max-height: 1000vh;}
.IndexImg {
    width: 30vw;
    padding: 2vw;
    margin: 2vw; border: 4px solid #00000021; border-radius: 5%;}
.IndexImg:hover {animation: flicker 2s infinite; transform: rotate(355deg) scale(125%);}
.explainImg {width: 2vw;}
.BuildCard {float: left;
    object-fit:scale-down;
    max-width: 50vw;
    padding: 1vw;}
.BuildCardMobile {
    padding: 1vw;
    display: none;}
.ParagraphText {
    text-align: left;}
.TableScreenshot {padding: 1vw;display: none;}
.collapsible-contentLinks {
    max-height: 0px;
    overflow: hidden;
    transition: 0.2s;
    max-width: 100vw;
    color: #f3f3f3;}
.LinksHeader {
    text-decoration: underline;
    font-size: 14pt;
    text-align: center;
    color: #f3f3f3;
    cursor: pointer;
    transition: 0.3s ease-in;
    max-width: 10vw;
    background-color: #6e6e6e;}
.LinksHeader::before {content: ' ';}
.toggle:checked+.LinksHeader+.collapsible-contentLinks {
    max-height: 1000vh;
    max-width: 80vw;}
.LinksHeader-contentLinks {
    max-height: 0px;
    text-align: center;
    transition: 0.2s;
    background-color: rgb(92, 90, 90);
    color: #f3f3f3;}
.SetLinksContainer{
    clear:both;}
.BuildParagraph {
    margin:auto;
width: 80vw;}
a:link:visited {color: #f3f3f3;}
a:link {color:#f3f3f3;}
/*tables go here*/
.eletableMobile, .rawtableMobile {display: none;}
.rawtable, .eletable, .switchskilltable, .skillpriotable, .switchskilltable {
    table-layout: auto;
    text-align: center;
    margin: auto;
    width: 100%;
    border-collapse: collapse;
    font-size: clamp(14px, 1.7rem, 24px);}
.rawtable thead th:nth-child(1), .eletable thead th:nth-child(1) {max-width: 10px;}
.rawtable thead th:nth-child(n), .eletable thead th:nth-child(n), .switchskilltable thead th:nth-child(n), .skillpriotable thead th:nth-child(n) {border: 2px solid #6464646c; background: linear-gradient(180deg, #333333, #202020, #222222, #101010, #111111, #010101, #000000);}
.rawtable td, .eletable td, .switchskilltable td, .skillpriotable td {padding: 5px; border: 2px solid #ffffff8f;}
.rawtable tbody tr, .eletable tbody tr, .switchskilltable tbody tr, .skillpriotable tbody tr {border: 2px solid #ffffff8e; text-shadow: 2px 2px 2px rgb(0, 0, 0);}
.rawtable tfoot th, .eletable tfoot th, .switchskilltable tfoot th, .skillpriotable tfoot th {border: none;}
.rawtable tbody tr:nth-child(odd), .switchskilltable tbody tr:nth-child(odd), .skillpriotable tbody tr:nth-child(odd) {background-color: #3d3d3d;}
.rawtable tbody tr:nth-child(even), .switchskilltable tbody tr:nth-child(even), .skillpriotable tbody tr:nth-child(even) {background-color: #757575;}
.eletable tbody tr:nth-child(1) {background-color: #f3171783;}
.eletable tbody tr:nth-child(2) {background-color: #290b9483;}
.eletable tbody tr:nth-child(3) {background-color: #8a8a0b83;}
.eletable tbody tr:nth-child(4) {background-color: #215c5c83;}
.eletable tbody tr:nth-child(5) {background-color: #48096d83;}
.switchskilltable thead th:nth-child(1) {min-width: 30px;}
.skillpriotable thead th:nth-child(3) {width: 50%;}
.inlineimg {width: 5vw;}
.best {background-color: #3e9249;}
.good {background-color: #76a063;}
.bad {background-color: #9e4949;}
.redscroll {color: #ff0000;}
.bluescroll {color: #7777fa;}
.tooltip {position: relative;display: inline-block;}
.tooltip .tooltiptext {
    visibility: hidden;
    background: linear-gradient(0deg, #000, #272727);
    color: #f3f3f3;
    text-align: left;
    border-radius: 5px;
    border: solid;
    border-color:#757717;
    position: absolute;
    bottom: 90%;}
.tooltip:hover .tooltiptext {
    visibility: visible;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    animation: flicker 10s infinite;}
/*yoinked from https://www.sliderrevolution.com/resources/css-border-animation/ - by Nick*/
.tooltiptext:before, .tooltiptext:after {
    content: '';
    position:absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear;}
    @keyframes steam {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}}
.tooltiptext:after {filter: blur(50px);}
/*yoinked from https://www.sliderrevolution.com/resources/css-border-animation/ - by Nick*/
.CollL2Page {
    border: 2px solid white;
    border-radius: 5%;
    text-align: center;
    background-color: #333333;
    color: #f3f3f3;}
::-webkit-scrollbar {display: none;}
.sidebarbutton {
    text-decoration: underline;
    text-align: center;
    color: #f3f3f3;
    cursor: pointer;
    transition: 0.3s ease-in;
    position: fixed;
    bottom: 0;
    left:0;
    z-index: 10;
    width: 3.4vw; height: 4vw; min-height: 80px; min-width: 70px;}
.sidebarbutton::before {
    display: hidden;}
.toggle:checked+.sidebarbutton+.collapsible-contentSidebar {
    max-height: 100vh;
    max-width: 100vw;
    top:0;
    transform: translateX(-250%);}
.sidebarBigClose::before{display:hidden;}
.sidebarBigClose {background-color: rgba(32, 47, 51, 0.336); left: 0;width: 100vw; margin-top: -200px;height: 150vh; z-index: -99; position: fixed; animation: 3s fadeInOpacity ease-in-out;}
.collapsible-contentSidebar {
    top:0;
    overflow:scroll;
    text-align: center;
    transition: 0.2s;
    height: 100vh;
    color: #f3f3f3;
    position: fixed;
    background-color: rgb(32, 47, 51);
    border: 2px solid white;
    border-radius: 3%;
    z-index: 5;}
.burger {width: 3.4vw; height: 4vw; min-height: 80px; min-width: 70px;}
.collapsible-contentSidebar1 {
    max-height: 0px;
    overflow: hidden;
    text-align: center;
    transition: 0.2s;
    background-color: rgb(32, 47, 51);
    z-index: 1;
    color: #f3f3f3;
    width: 40vw;}
.toggle:checked+.collapsibleSidebar+.collapsible-contentSidebar1 {
    max-height: 150vh;
    margin: auto;
    max-width: 100%;}
.collapsibleSidebar {
    text-decoration: underline;
    text-align: center;
    color: #f3f3f3;
    cursor: pointer;
    width: 40vw;
    transition: 0.5s ease-in;
    height: 100vh;}
.sidebar {width: 80vw;} 
.MainPagesBurger {
    font-size: 1.7rem;}
.collapsible-contentSidebar1 a:link, a:visited {
    color: #f3f3f3;
    padding-left:1vw ;
    padding-right: 1vw;
    border-style: dashed;
    text-align: center;
    background-color: #333333;
    max-width: 728px;
    text-align: center;
    font-size: 1.2rem;}
.collapsible-contentSidebar1 a:hover {
    font-size: 1.8rem;}
.collapsible-contentSidebar1 a:active {
    color: #444;
    border: 2px green;
    background-color: #444;
    font-size: 1.8rem;}
.Side_Img {
    width: 8vw;
    height: 8vw;}
.collapsible-contentToC {
      overflow: hidden;
      text-align: center;
      transition: 0.2s;
      color: #f3f3f3;}
.ToCHeader {
    text-decoration: underline;
    text-align: center;
    color: #f3f3f3;
    cursor: pointer;
    transition: 0.3s ease-in;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    height: 6vw;
    width: 6vw; min-width: 90px; min-height: 90px;}
.ToCHeader::before {display: hidden;}
.toggle:checked+.ToCHeader+.collapsible-contentToC {
    max-height: 100vh;
    transform: translateY(-100%);}
.CollToc {
    height: 1vh;
    left: 0;
    top: 0;
    margin-left: 8vw;
    width: 45vw; min-width: 600px;
    position: fixed;
    z-index: 2;}
.ToCHeader-contentToC {
    height: 100vh;
    overflow: hidden;
    transition: 0.2s;
    background-color: rgb(92, 90, 90);
    color: #f3f3f3;}
.Toc_Img {width: 8vw; height: 8vw;}
.ColledToc {
    left: 0;
    width: 25vw; min-width: 400px;
    background: linear-gradient(60deg, rgba(92, 92, 92, 0.95), rgb(84, 2, 117, 0.95));
    border: 2px solid gold;
    text-align: left;}
.ColledToc a:link, a:visited {
    color: #f3f3f3;
    padding-left:1vw ;
    border-style: dashed;
    border-color: #464646;
    text-align: center;
    background: linear-gradient(60deg, rgba(36, 2, 70, 0.993), rgb(0, 0, 0));   
    font-size: 1rem;}
.ColledToc a:hover {font-size: 1.1rem;}
.ColledToc a:active {
    border: 2px green;
    background-color: #444;
    font-size: 0.9rem;}
#endgame, #prog, #guide {display: none;}
#endgame, .endgameButton {background: linear-gradient(200deg, rgba(189, 65, 73, 0.699), rgba(255, 211, 99, 0.705) );}
#prog, .progButton {background: linear-gradient(20deg, rgb(140, 174, 90), rgb(103, 100, 215) );}
#guide, .guideButton {background-image: linear-gradient(to right top, #000000, #31262f, #514b66, #5979a3, #43add8, #33b3d3, #2eb8cb, #37bcc1, #399295, #356b6c, #2c4546, #202323);}
input[id="showendgame"]:checked ~ #endgame,
input[id="showprog"]:checked ~ #prog,
input[id="showguide"]:checked ~ #guide {
    display: block;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s; width: 40vw; margin: auto; border: 2px solid gray;}
input[id="showendgame"]:checked ~ .radiotext1,
input[id="showguide"]:checked ~ .radiotext2,
input[id="showprog"]:checked ~ .radiotext3 {
    border: 4px solid;
    animation: flicker 4s infinite;
    background-color: #000000;}    
@keyframes flicker {
    0% {border-color: rgba(179, 252, 255, 0.3);
    border-bottom-color: white;}
    50% {border-color: rgba(179, 252, 255, 1);
    border-bottom-color:white;}
    100% {border-color: rgba(179, 252, 255, 0.3);
    border-bottom-color: white;}}  
.lefttext {text-align: left;}
.radiobutton {display: none;}
.radiotext1, .radiotext2, .radiotext3 {
    margin-left: 1vw;
    margin-right: 1vw;
    width: 4vw;
    height: 2vh;
    cursor: pointer;
    border: 2px solid white;
    background-color: #333333;}
.PeopleTable {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 65vw;}
.PeopleImg {width: 7vw;}
.PeopleTable tbody tr {text-shadow: 3px 3px 3px rgb(0, 0, 0);}
.SmallImg {width: 3vw;}
.PeopleTableSmall {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 50vw;}
.PeopleTableSmall tbody tr {text-shadow: 3px 3px 3px rgb(0, 0, 0);}
.centertext {text-align: center; display: block;}
.gamememe {z-index: -1; width: 85vw;}
.Level2Paragraph {
    text-align: left;
    width: 40vw;
    margin-left: 10vw;
    margin-right: 10vw;}
.Patchnotes {width: 15vw;}
.GuideImg {
    width: 65vw; z-index: -1;} 
.GuideParagraph {
    margin-left: 10vw;
    margin-right: 10vw;}
.GuideParagraphText {
    text-align: left;}
.bluebg {background-color: rgba(116, 116, 223, 0.432);}
.redbg {background-color: rgba(233, 107, 107, 0.425);}
.GuideCard {
    min-width: 600px;
    margin: 0 auto;
    display: block;}
.GuideCardMobile {display: none;}
.YouTube {
      width: 40vw;
      height: 40vh;
      padding: 1vw;
      display: block;
      margin: 0 auto;}
/*complete yt lite embed yoinked from: https://github.com/paulirish/lite-youtube-embed*/
lite-youtube {
    background-color: #000;
    position: relative;
    display: block;
    contain: content;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    max-width: 720px;}
lite-youtube::before {
    content: attr(data-title);
    display: block;
    position: absolute;
    top: 0;
    /* Pixel-perfect port of YT's gradient PNG, using https://github.com/bluesmoon/pngtocss plus optimizations */
    background-image: linear-gradient(180deg, rgb(0 0 0 / 67%) 0%, rgb(0 0 0 / 54%) 14%, rgb(0 0 0 / 15%) 54%, rgb(0 0 0 / 5%) 72%, rgb(0 0 0 / 0%) 94%);
    height: 99px;
    width: 100%;
    font-family: "YouTube Noto",Roboto,Arial,Helvetica,sans-serif;
    color: hsl(0deg 0% 93.33%);
    text-shadow: 0 0 2px rgba(0,0,0,.5);
    font-size: 18px;
    padding: 25px 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;}
lite-youtube:hover::before {color: white;}
    /* responsive iframe with a 16:9 aspect ratio thanks https://css-tricks.com/responsive-iframes/*/
lite-youtube::after {
    content: "";
    display: block;
    padding-bottom: calc(100% / (16 / 9));}
lite-youtube > iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 0;}
lite-youtube > .lty-playbtn {
    display: block;
    width: 100%;
    height: 100%;
    background: no-repeat center/68px 48px;
    background-image: url('images/yt_button.webp');
    position: absolute;
    cursor: pointer;
    z-index: 1;
    filter: grayscale(100%);
    transition: filter .1s cubic-bezier(0, 0, 0.2, 1);
    border: 0;}
lite-youtube:hover > .lty-playbtn,
lite-youtube .lty-playbtn:focus {
    filter: none;}
lite-youtube.lyt-activated {
    cursor: unset;}
lite-youtube.lyt-activated::before,
lite-youtube.lyt-activated > .lty-playbtn {
    opacity: 0;
    pointer-events: none;}
.lyt-visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;} /*complete yt lite embed yoinked from: https://github.com/paulirish/lite-youtube-embed*/
.spaceholder { visibility: hidden; width: 1px; height: 30vh;}
.L2Container {text-align: center; display: inline-block; width: 25vw;}
.L2Container:hover {transform: scale(1.3);}
.l2guideimg {width: 20vw;}
.RiseMeme {background-image: url(images/AmazonPrimordialDarkVest.webp); background-repeat: no-repeat; background-size: 80vw; background-position: 50% 2%;}
.WorldMeme {background-image: url(images/slap_roof_of_fatty.webp); background-repeat: no-repeat; background-size: 80vw; background-position: 50% 2%;}
.EleStatusImg {
    width: 40px; height: 40px;}
li {list-style-type: none;}
.endgameButton, .guideButton, .progButton {width: 40vw; display: inline-block; text-align: center; border: 4px solid rgba(231, 231, 231, 0.158); margin-left: 3vw; margin-right: 3vw;}
.endgameButton:hover, .guideButton:hover, .progButton:hover {animation: flicker 4s; transform: scale(120%);}
.endgameButton p, .guideButton p, .progButton p {margin-top: 0 auto; margin-bottom: 0 auto; font-size: 2rem; text-shadow: 3px 3px 3px rgb(34, 34, 34);}
.endgameButton img, .guideButton img, .progButton img {width: 2vw; min-width: 40px; max-width: 100%; margin-top: auto; margin-bottom: auto;}
.progButton br, .guideButton br, .endgameButton br {display:none;}
footer a:link {color: #f3f3f3;}
p {text-indent: 30px;}
.Level2Paragraph p {text-indent:0px;}
footer {margin-top: 10vw;}
.ImgButton {display: none;}
