/*background for rise meme*/
.risebackground {
    background-image: url(Sitewide_Images/AmazonPrimordialDarkVest.webp);
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 100vh;
    width: 98vw;

 
}
/*------------------end of background options for meme--------------*/

h1 {
    font-size: 5em;
}







.content {
    margin: 10%;
}
/*image links to subpages*/
.IndexImg {
    width: 25vw;
    min-width: 200px;
    height: 20vw;
    min-height: 200px;
    margin: 5%;
}
/**/
