/*background for rise meme*/
.risebackground {
    background-image: url(https://lh5.googleusercontent.com/hqDM4C6twxbILkfn_zGiO_e4v-MVLsCZ112oG_9WO2zNxRvofUokDF4GST-oTh_Y2dCfsnUUPjYKNAwgHzcpz5M=w16383);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    height: 100vh;
    width: 98vw;

 
}
/*------------------end of background options for meme--------------*/

h1 {
    font-size: 5em;
}







.content {
    margin: 10%;
}
/*image links to subpages*/
.IndexImg {
    width: 25vw;
    min-width: 200px;
    height: 20vw;
    min-height: 200px;
    margin: 5%;
}
/**/
